@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 18% 87%;
    --foreground: 206 10% 20%;
    --card: 36 18% 87%;
    --card-foreground: 206 10% 20%;
    --popover: 36 18% 87%;
    --popover-foreground: 206 10% 20%;
    --primary: 206 10% 20%;
    --primary-foreground: 36 18% 87%;
    --secondary: 36 12% 82%;
    --secondary-foreground: 206 10% 20%;
    --muted: 36 12% 82%;
    --muted-foreground: 206 10% 40%;
    --accent: 36 12% 82%;
    --accent-foreground: 206 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 10% 78%;
    --input: 36 10% 78%;
    --ring: 206 10% 20%;
    --radius: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #2F3438;
  color: #E6E0D6;
}
